In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
pd.read_csv('./dataset/bg-result-final-cleaned.csv')

,sadate,country_name,new_confirmed,cumulative_confirmed,new_deceased,cumulative_deceased,population,latitude,longitude
0,2020-01-01,Afghanistan,0.0,NaN,0.0,NaN,172895.0,35.427500,69.735000
1,2020-01-01,Albania,0.0,0.0,0.0,0.0,2862427.0,41.000000,20.000000
2,2020-01-01,Algeria,0.0,0.0,0.0,0.0,43851043.0,28.000000,1.000000
3,2020-01-01,American Samoa,0.0,0.0,0.0,0.0,55197.0,-14.295833,-170.707500
4,2020-01-01,Andorra,0.0,0.0,0.0,0.0,77265.0,42.558333,1.555278
...,...,...,...,...,...,...,...,...,...
61724,2020-12-31,Wallis and Futuna,0.0,4.0,0.0,0.0,11246.0,-14.301810,-178.109320
61725,2020-12-31,Western Sahara,0.0,NaN,0.0,NaN,597330.0,25.000000,-13.000000
61726,2020-12-31,Yemen,2.0,2105.0,0.0,611.0,29825968.0,15.500000,48.000000
61727,2020-12-31,Zambia,272.0,20997.0,2.0,390.0,18383956.0,-14.000000,28.000000
61728,2020-12-31,Zimbabwe,217.0,14084.0,6.0,369.0,14862927.0,-19.000000,30.000000